.resources {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
}

.lastUpdate {
    position: sticky;
    top: 5%;
}