:root {
  --main-bg-color: #363636;
  --main-fg-color: white;

  --link-color: #49C6E5;
  --link-hover-color: #54DEFD;
  --link-active-color: #8BD7D2;

  --table-bg-color: #4a4a4a;
  --table-border-color: #363636;
  --table-sub-border-color: #363636;

  --mp-shadow-color: #262626;
}
/* Here are the base styles for the main layout and sticky component */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0 1rem;
    font-family: Roboto Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,KenneyIcons,FontAwesome,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.25rem;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    line-height: 1.4;
    max-width: 1600px;
}

body:not(.sh) th:last-of-type, body:not(.sh) td:last-of-type, th.sh, td.sh {
  display: none;
}

body.sh th.sh, body.sh td.sh {
  display: initial;
}

.app {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header {
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    width: 100%;
}

.content {
    flex-basis: 0;
    flex-grow: 999;
    width: 100%;
}

.player_map_list {
    max-height: 400px;
    overflow: auto;
}

.mp-element {
    text-shadow: 1px 1px 0 var(--mp-shadow-color);
    color: var(--main-fg-color);
}

.outline {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--main-fg-color);
}

table {
    border-radius: 0.5rem;
    border-collapse: collapse;
    overflow: hidden;

    margin: 0;
    padding: 0;
    width: 100%;
}

table tr {
    background-color: var(--table-bg-color);
    border-bottom: 1px solid var(--table-border-color);
}

table th,
table td {
    padding: 0.5rem 0.2rem;
    text-align: right;
}

table th:last-child,
table td:last-child {
    padding-right: 1rem;
}


table th {
    font-size: .85em;
}


@media screen and (max-width: 800px) {

    .app {
        flex-direction: column;
    }

    table th,
    table td {
        display: block;
        border-bottom: solid 0.1px var(--table-sub-border-color);
        padding: 0.5rem 1rem;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-size: .85rem;
        font-weight: bold;
    }

    table thead {
        display: none;
    }
}

ul.menu {
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    background-color: var(--table-bg-color);
}

.menu li {
    border-bottom: 1px solid var(--table-border-color);
    padding: 0.5rem;
}

.menu li:last-child {
    border-bottom: none;
}

input[type=text] {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: solid 1px var(--table-border-color);
    width: 100%;
    border-radius: 0.2rem;
    font-family: inherit;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* link */
a {
    color: var(--link-color);
}

/* mouse over link */
a:hover {
    color: var(--link-hover-color);
}

/* selected link */
a:active {
    color: var(--link-active-color);
}
